[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=mbsync -a
ExecStartPost=mu index --maildir=$HOME/.mail/ \
		 --my-address=jacob.t.jonsson@gmail.com \
		 --my-address=jassob@live.se
