# Autostart if session is XMonad
if [ -n "$DESKTOP_SESSION" ] && [ "$DESKTOP_SESSION" = "none+xmonad" ]; then
    bash ~/dotfiles/jassob/autostart.sh
fi

# Add local/bin/ to PATH
export PATH="~/.local/bin:$PATH"
