# -*- mode: sh -*-

# Autostart if session is XMonad
if [[ -n "$DESKTOP_SESSION" && ("$DESKTOP_SESSION" = "none+xmonad" || "$DESKTOP_SESSION" = "xmonad") ]]; then
	feh --bg-fill ~/.wallpaper.png
	sxhkd & disown %1
	nm-applet & disown %1
fi

xsetroot -cursor_name left_ptr
